<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Absences</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<div layout:fragment="content" class="content-wrapper">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-12">
						<h1>Gestion des Absences</h1>
					</div>
				</div>
			</div>
		</section>

	<div th:insert="nav :: nav"></div>


	<div class="container my-2">
		<div class="card">
			
			</form>
			<div class="card-body">
				<div th:switch="${absences}" class="container my-5">
					 
					<div class="col-md-10">
						<h2 th:case="null">No Absences yet!</h2>
						<div th:case="*">
						<div class="form-group col-md-8">
                                <label for="nom" class="col-form-label">Nom et Prenom</label>
                                <p class="col-form-label" th:text="${etudiant}"></p>  </div>
                            <div class="form-group col-md-8">
                                <label for="libelle" class="col-form-label">Matiere : </label>
                                 <p class="col-form-label" th:text="${matiere}"></p>  </div>
                                    </div>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Matricule</th>
										<th>Nom</th>
										<th>Label</th>
										<th>Date</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="absence : ${absences}">
										<td th:text="${absence.id}"></td>
										<td th:text="${absence.etudiant}"></td>
										<td th:text="${absence.matiere}"></td>
										<td th:text="${absence.dateabs}"></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div></div>
</body>

</html>