<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Stat</title>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <div layout:fragment="content" class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12">
                        <h1>Statistique des Absences Par Matiere</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content" >
            <div class="card">
                <div class="card-body">
                        <table id="myDataTable" class="table table-bordered table-striped">
                            <tr th:each="m: ${MatiereAbsence}">
                                <td th:text="${{m.key}}" />
                                <td th:text="${{m.value}}" />
                            </tr>
                    </table>
                </div></div>
        </section>

    </div>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>

</body>
</html>
