<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Gestion Etudiant</title>

        <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.css}">
        <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <script th:src="@{/plugins/jquery/jquery.min.js}" ></script>

    </head>
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">

            <div th:replace="fragments/header :: header"></div>
            <div th:replace="fragments/sidebar :: sidebar"></div>
            <div layout:fragment="content" class="content-wrapper"></div>
            <div th:replace="fragments/footer :: footer"></div>
<!--            <aside class="control-sidebar control-sidebar-dark"></aside>-->

        </div>

        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}" ></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.js}" ></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}" defer></script>
        <script th:src="@{/js/adminlte.min.js}" ></script>
        <script th:src="@{/js/demo.js}"></script>
        <script defer>
            $(function () {
                $("#myDataTable").DataTable({
                    "language": {
                        "processing": "Traitement en cours...",
                        "search": "Rechercher&nbsp;:",
                        "lengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                        "info": "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        "infoEmpty": "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                        "infoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "infoPostFix": "",
                        "loadingRecords": "Chargement en cours...",
                        "zeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "emptyTable": "Aucune donnée disponible dans le tableau",
                        "paginate": {
                            "first": "Premier",
                            "previous": "Pr&eacute;c&eacute;dent",
                            "next": "Suivant",
                            "last": "Dernier"
                        },
                        "aria": {
                            "sortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                        }
                    }
                });
            });
        </script>
    </body>
</html>
